@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.search-icon:hover {
    cursor: pointer;
    box-shadow: 0px 5px 0px #E39128;   
}

a:hover {
    font-size: 2rem;
    box-shadow: 0px 5px 0px #E39128;   
}

.sign-in-button:hover {
    cursor: pointer;
    background-color: #CD6326;
}

.survival-button:hover, .notified-input-button:hover{
    cursor: pointer;
    background-color: #E39128;
}

.survival-button:active, .notified-input-button:active{
    cursor: pointer;
    background-color: #8F5613;
}


.latest-arrow-left:hover, .latest-arrow-right:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.slider-pic:hover {
    transform: scale(1.2);
}

.background-fox {
    background: content-box url("./assets/fox-bg.png");
    width: 1440px;
    height: 780px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0;
}

.header {
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}


.logo-text {
    margin-left: 15px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;  
    color: #F7F7F7;
}



.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav-buttons a {
    text-decoration: none;
   
}

.nav-buttons ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons li {
    list-style-type: none;
}

.nav-buttons li {
    margin-left: 64px;
}

.button-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7
}

.sign-in-button {
    width: 120px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    margin: 0;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
}

.survival {
    width: 274px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 100px;
}

h2, h5, p {
    margin: 0;
}

.survival-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
   }

.survival-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.survival-button {
    width: 160px;
    height: 60px;
    background-color: #CD6326;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #F7F7F7;
    margin-bottom: 1px;
    border: none;
    border-radius: 5px;
}

.central {
    width: 1440px;
    height: 1368px;
    margin: 0 auto;
    background-color: #CCCCCC;
}

.latest {
    padding-top: 120px;
}

.latest-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.latest-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    padding-top: 0;
    padding-bottom: 120px;
}

.latest-slider {
    display: flex;
    align-items: center;
    padding: 0 122px;
}

.slider-pic{
    position: relative;
}

.slider-pic {
    margin-right: 60px;
}

.latest-arrow-left {
    margin-right: 62px;
}

.slider-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
}

.slider-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    margin-top: 10px;
    margin-bottom: 44px;
}

.pictext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
}

.latest-arrow-left {
    /* padding-right: 5px; */
}

.latest-arrow-right {
    /* padding-left: 5px; */
}

.notified {
    text-align: center;
    padding-top: 210px;
}

.notified-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.notified-form {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}


.notified-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    width: 540px;
    height: 60px;
    padding-left: 5px;
    background-color: #CCCCCC;
    margin-right: 0;
    box-sizing: border-box;
    padding-left: 15px;
}

.notified-input-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    background-color: #CD6326;
    width: 120px;
    height: 60px;
    margin-left: 0;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;  
}

.footer {
    background: url("./assets/footer-bg.jpg");
    width: 1440px;
    height: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    text-decoration: none;
}

.footer li {
    list-style-type: none;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
    width: 223px;
}

.footer-nav {
    width: 500px;
}

.footer-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 474px;
} 

.footer-nav-list a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}

.social {
    margin-right: 120px;  
    width: 280px;  
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.fb-link-svg {
    background-image: url("./assets/fb.svg");
    width: 40px;
    height: 40px;
}

.insta-link-svg {
    background-image: url("./assets/insta.svg");
    width: 40px;
    height: 40px;
}

.pi-link-svg {
    background-image: url("./assets/pi.svg");
    width: 40px;
    height: 40px;
}

.telegram-link-svg {
    background-image: url("./assets/telegram.svg");
    width: 40px;
    height: 40px;
}